<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to EmailService, <%= @user.name %></h1>
    <h2>You have successfully signed up with our application.</h2><br>
    <h3>Thanks for joining</h3>
  </body>
</html>