<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>EmailService</h1><hr/>
    <h3>Hi there,</h3>
    <br><p><%= @body %></p>
    <h3>from <%= @sender %></h3>
  </body>
</html>